* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}
#root {
  height: 100%;
  /* overflow: auto; */
}

button {
  cursor: pointer;
  background-color: black;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: min-content;
}
.hero {
  background-image: url("https://images.unsplash.com/photo-1566981731417-d4c8e17a9e82?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: white;
  text-shadow: 3px 3px black;
  border-radius: 10px;
  text-align: center;
  font-size: 6rem;
}
.login {
  background-image: url("https://images.unsplash.com/photo-1501612780327-45045538702b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.login h1 {
  text-align: center;
  font-size: 9rem;
  color: white;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.loginButtonContainer button {
  margin-top: 450px;
}
.loginButtonContainer a {
  color: white;
}
.loginButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar {
  margin: 0;
  top: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 80px;
  background-color: black;
  color: white;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 111;
}
.smallnavbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 11;
}

.navbar h2 {
  font-size: 3rem;
  margin-left: 30px;
  color: white;
}
.navbar a {
  color: grey;
  text-decoration: none;
  font-size: 2rem;
}
.navbar a:hover {
  color: lightgray;
}

.smallnavbar #jam {
  color: white;
  font-size: 4vw;
  margin-left: 30px;
  width: 300px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
}
.smallnavbar ul {
  position: absolute;
  height: 200px;
  top: 70px;
  right: -10px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  width: 94%;
}

.smallnavbar a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 5px;
}
.smallnavbar a:hover {
  color: lightgray;
}
.menu button {
  border: none;
  padding: 0;
  margin: 0 30px 0 0;
}

.searchresults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img:hover {
  cursor: pointer;
}
input {
  margin: 10px 20px 0px 20px;
  width: 520px;
}
.bodyWide input {
  width: 520px;
}
.bodySmall input {
  width: 300px;
}

ul {
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  height: 500px;
}

ul::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

li {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 10px 20px 0px 20px;
  color: black;
  padding: 10px;
  width: 500px;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

li:hover {
  transform: scale(1.03);
  box-shadow: 0px 9px 20px rgb(0 0 0 / 0.2);
}

li:active {
  transform: scale(0.98);
  box-shadow: 0px 4px 11px rgb(0 0 0 / 0.2);
}

.liwords {
  margin-left: 20px;
}
.liwords h2 {
  font-size: 1rem;
  margin: 0;
}
.searchSubmit {
  margin-top: 50px;
  width: 500px;
  word-wrap: break-word;
}
.displaysong {
  width: min-content;
}

.displaysong h1 {
  font-size: 2rem;
  text-align: center;
}

.recents h2 {
  text-align: center;
  font-size: 4rem;
}

.recentPosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.post {
  background-color: white;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0 10px 0;
  min-height: 480px;
}
.post:hover {
  transform: scale(1.03);
  box-shadow: 0px 9px 20px rgb(0 0 0 / 0.2);
}
.postTop {
  display: grid;
  grid-template-columns: 12% 67% 1% 20%;
  align-items: center;
}
.postTop img {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  object-fit: cover;
}
.post h4 {
  font-size: 1.5rem;
}
.postTop a {
  color: black;
  text-decoration: none;
}
.postTop a:hover,
.postSong:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post h5 {
  font-weight: normal;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  font-size: 1.5rem;
  width: 300px;
  height: 66px;
  word-wrap: break-word;
}
.post h5::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.post h6 {
  font-weight: normal;
  color: gray;
}
.postSong p {
  width: 300px;
  word-wrap: break-word;
}
.post p {
  font-size: 1rem;
  color: grey;
}
#delete button {
  font-size: 1rem;
  text-align: right;
}
.userAndBody a {
  text-decoration: none;
}
.userAndBody a:hover {
  text-decoration: underline;
}
.likesAndLibraryContainer {
  display: flex;
  justify-content: space-between;
}
.submitComment#addToLibrary button {
  font-size: 1rem;
}
.commentSection {
  height: min-content;
  max-height: 100px;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.commentSection::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.showcomments {
  cursor: pointer;
  width: max-content;
}
.showcomments:hover {
  text-decoration: underline;
  text-decoration-color: grey;
}

.likes {
  cursor: pointer;
  width: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.createpost {
  margin-top: 20px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 50vh;
}
.createpost input {
  border: black;
  border-style: solid;
  border-radius: 4px;
  height: 40px;
  font-size: 1.5rem;
}
.hero#create {
  background-image: url("https://images.unsplash.com/photo-1542973714-987e6faf64e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80");
  background-position: top;
}
.createComment {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.createComment input {
  width: 100%;
  margin: 0;
  padding: 0;
}
.createComment button {
  transform: scale(0.7);
  margin: 0;
  position: relative;
}

.individualComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.individualComment button {
  margin: 0 0 0 20px;
  border: none;
  background-color: white;
  color: gray;
  padding: 0;
}
.individualComment button:hover {
  color: lightgray;
}

.individualComment p {
  width: 200px;
  word-wrap: break-word;
}
.submitComment button {
  margin: 0px;
  border: none;
  background-color: white;
  color: gray;
  padding: 0;
  font-size: 1.5rem;
}
.submitComment button:hover {
  color: lightgray;
}
.addAComment {
  display: flex;
  justify-content: flex-start;
}
.addAComment button {
  margin: 0px;
  border: none;
  background-color: white;
  color: gray;
  padding: 0;
}
.addAComment button:hover {
  color: lightgray;
}

.bottomNav {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.profile {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileTopSection {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: min-content;
  margin-top: 90px;
  margin-bottom: 30px;
}
.profileTop {
  width: 600px;
  display: flex;
  align-items: center;
  font-size: 3rem;
}
.profileTop img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  object-fit: cover;
}
.profileTop h1 {
  word-wrap: normal;
}
.profile input {
  width: 100%;
  margin: 0;
  padding: 0;
}
.profileTopSection p {
  width: 300px;
  word-wrap: break-word;
}
.displayPosts.one {
  grid-template-columns: 1fr;
}
.displayPosts.two {
  grid-template-columns: 1fr 1fr;
}
.displayPosts.three {
  grid-template-columns: 1fr 1fr 1fr;
}

.displayPosts {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  /* align-items: center; */
  margin-bottom: 80px;
}

.hero#top {
  background-image: url("https://images.unsplash.com/photo-1608560670438-87b1c9570a85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}
.hero#top h1 {
  font-size: 8rem !important;
}

@media only screen and (max-width: 750px) {
  .login h1 {
    font-size: 6rem;
    top: 4%;
  }
  .navbar {
    text-align: center;
  }
  .navbar h2 {
    font-size: 1rem !important;
    margin: 0 !important;
  }
  .navbar a {
    color: grey;
    text-decoration: none;
    font-size: 1rem;
  }
  .hero h1 {
    border-radius: 10px;
    font-size: 3rem;
  }
  .recents h2 {
    font-size: 12vw;
  }
  .recentPosts {
    grid-template-columns: 1fr;
  }
  .post:hover {
    transform: scale(1) !important;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 0.2) !important;
  }
  .displayPosts {
    grid-template-columns: 1fr;
  }
  .displayPosts.two {
    grid-template-columns: 1fr;
  }
  .displayPosts.three {
    grid-template-columns: 1fr;
  }
  .profileTop {
    width: 300px;
    font-size: 1rem;
  }
  .profileTop img {
    height: 30px;
    width: 30px;
  }
  .displaysong h1 {
    font-size: calc(12px + 2vw);
  }
  .searchBar input {
    width: 75vw;
  }
  .searchresults ul {
    width: 75vw;
    height: 300px;
  }
  .searchresults li {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.75rem;
  }
  .searchSubmit {
    width: 70vw;
  }
  .bodyWide input {
    width: 75vw;
  }
}
@media only screen and (min-width: 600px) {
  .login h1 {
    font-size: 8rem;
    top: 8%;
  }
}
@media only screen and (min-width: 750px) {
  .displayPosts {
    grid-template-columns: 1fr 1fr;
  }
  .displayPosts.two {
    grid-template-columns: 1fr 1fr;
  }
  .displayPosts.three {
    grid-template-columns: 1fr 1fr;
  }
  .navbar {
    text-align: center;
  }
  .navbar h2 {
    font-size: 1.5rem !important;
    margin: 0 !important;
  }
  .navbar a {
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1025px) {
  .displayPosts {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1100px) {
  .displayPosts {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .displayPosts.three {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1600px) {
  .displayPosts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  .login h1 {
    font-size: 8rem;
    top: 8%;
  }
}
